.semmi-tarolo{
    width: 40%;
    float: left;
    margin-top: 15px;
    box-sizing: border-box;
}
.menu-tarolo{
    width: 60%;
    float: left;
}
.fejlec{
    background-color: #24292E;
    height: 50px;
}
.menupontok:hover{
    background-color: #404448;
    cursor: pointer;
    color: #ffff99;
}
.menupontok:active{
    color: red;
}
.menupontok{
    color: white;
    font-size: 100%;
    font-style: oblique;
    float: left;
    padding: 5px;
    border: 1px;
    margin: 10px;
}
#gomb{
    float: right;
    margin-right: 20px;
    margin-top: 15px;
    border-radius: 5px;
}
#gomb:active{
    background-color: green;
}
body{
    background-color: #DBEDFF;
}
.cim-tarolo{
    width: 800px;;
    background-color: #24292E;
    margin-top: 100px;
    height: 400px;
    position: absolute;
    left: 325px;
    color: white;
    text-align: center;
    border-radius: 10px;
}
.cim{
    font-size: 400%;
    padding: 20px;
    margin: 80px;
}
.koszontes{
    font-size: 150%;
    text-align: center;
}
@media screen and (max-width: 850px){
    .cim-tarolo{
        max-width: 100%;
        background-color: #24292E;
        margin-top: 50px;
        height: 400px;
        position: absolute;
        left: 0;
        color: white;
        text-align: left;
        border-radius: 10px;
        
    }
    .koszontes{
        font-size: 150%;
        text-align: left;
        margin-left: 25px;
    }
    .menupontok{
        color: white;
        font-size: 100%;
        font-style: oblique;
        float: left;
        padding: 5px;
        border: 1px;
        margin: 0px;
    }
    .menu-tarolo{
        width: 100%;
        float: left;
        height: 300px;
    }
    body{
        background-color: #0582a4;
    }



}
