div{
    margin: 10px;
}
.negyhasabos{
    column-count: 4;
    column-gap: 50px;
    column-rule: 3px solid red;
}
.kethasabos{
    column-count: 2;
    column-gap: 30px;
    column-rule: 2px double blue;
}
.haromhasabos{
    column-count: 3;
    column-gap: 10px;
    column-rule: 4px dotted green;
}