.hasab-elso, .hasab-masodik, .hasab-harmadik{
    width: 33%;
    float: left;
    border-right: 1px solid #ffcccc;
}
.cim{
    background-color: #ffcccc;
    background: -moz-linear-gradient(top, #ffcccc, #660000);
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-style: oblique;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin-right: 1px;
}
body{
    background-color: #F1F1F1;
    /* background: -moz-linear-gradient(top, #F1F1F1 , #666666 );*/
}
.p-szoveg{
    padding: 10px;
    margin: 20px;  
}
#b{
    margin-left: 100px;
    font-size: 20px;
}
.yoda{
    width: 200px;
    height: auto;
    float: left;
    margin-right: 10px;
    margin-top: 20px;
    margin-left: 5px;
}
#yoda-szoveg{
    margin-right: 10px;
    margin-left: 5px;
}
.video{
    width: 350px;
    height: 250px;
    margin-top: 40px;
    margin-left: 60px;
}
.lablec{
    background-color: #ffcccc;
    background: -moz-linear-gradient(top, #ffcccc, #660000);
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-style: oblique;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin-right: 1px;
    clear: both;
}