#fej{
    background-color: red;
    padding: 30px;
    border: 0px;
    margin: 0px;
}
#test{
  background-color: white;
  padding: 15px;
}
#lab{
    background-color: orange;
    padding: 30px;
    border: 0px;
    margin: 0px;
    clear: both;
}
#video{
    width: 50%;
    float: left;
}
#test2{
    width: 50%;
    float: left;
}