.test{
    width: 60%;
    float: left;
}
.test-negyven{
    width: 40%;
    float: left;
}
.felso-kontainer{
    height: 70px;
    background-color: white; 
    margin-bottom: 10px;
}
.trombitaskep{
    width: 150px;
    height: auto;
    margin-left: 60px;
    margin: 40px;
}
video{
    width: 300px;
    height: auto;
    margin: 20px;
}
.kontainer{
    display: flex;
    height: 200px;
    background-color: white;;
    align-items: center;
    justify-content: center;
}
.kontainer-ketto{
    background-color: white;
    margin-top: 10px;
    column-count: 2;
    column-gap: 10px;
    padding: 20px;
}
body{
    background-color: #cccccc;
}

.logo{
    width: 70px;
    height: 70px;
    float: left;
    margin-left: 10px;
}
#nev{
    font-style: oblique;
    font-size: 150%;
    float: left;
    margin-top: 20px;
    display: inline;
}

.felso-tarolo{
    background-color: white;
    width: 400px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-tarolo, .logotarolo, .bejelentkezestarolo{
    width: 100%;
    text-align: center;
}
.menu{
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
    color: black;
}
.menu:hover{
    color: #666666;
}
.menu-active{
    color: orange;
}
button{
    background-color: #E85F4F;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
}
button:hover{
    background-color: #666666;
}
.bejelentkezestarolo{
    width: 25%;
    float: left;
    height: 70px;
    text-align: right;
    line-height: 70px;
}
.menu-tarolo{
    width: 75%;
    float: left;
    height: 70px;
}
.jobb-tarolo{
    background-color: white;
    margin: 0 20px;
    padding: 20px;
}
.repertoar{
    column-count: 2;
    column-gap: 20px;
    column-rule: 20px;
}
.repertoar-cim{
    font-size: 150%;
    font-style: oblique;
}
@media screen and (min-width: 600px){
    .menu-tarolo{
        width: 75%;
        float: left;
        height: 70px;
    }
    .bejelentkezestarolo{
        width: 25%;
        float: left;
        height: 70px;
        text-align: right;
    }
}
@media screen and (min-width: 1170px){
}
.menu-tarolo, .logotarolo, .bejelentkezestarolo{
        width: 33%;
        float: left;
        line-height: 70px;
        text-align: left;
    }
    .felso-kontainer{
        height: 70px;
        overflow: hidden;
    }
    .logo, #nev{
        float: left;
    }
    .bejelentkezestarolo{
        text-align: right;
    }
    .felso-tarolo{
        justify-content: center;
    }

