.test-a, .test-b{
    width: 50%;
    float: left;
    box-sizing: border-box;
}

h1{
    background-color: red;
    padding: 20px;
    border: 2px solid black;
    margin: 5px;
    text-align: center;
}
#tablazat{
    border: 3px double black;
    background-color: ghostwhite;
    margin-left: 5px;
}
th{
    border: 3px double black;
    background-color: #A7C6D8;
}
td{
    border: 2px solid black;
    background-color: #D1E9F7;
}
#trombita{
    margin-left: 5px;
    width: 70%;
    height: auto;
}
p{
    column-count: 2;
    column-gap: 10px;
    column-rule: 2px solid black;
    margin-left: 5px;
}
body{
    background-color: #D8DCDA;
}
.videok{
   text-align: center;
   width: 100%;
   height: 315px;
}
#logo{
    width: 100px;
    position: absolute;
    top: 40%;
    left: 82%;
}
.ketkep{
    position: relative;
}
.ketkep-keto{
    
}
#logo-keto{
    float: left;
    width: 100px;
    margin-left: 80px;
    margin-top: 120px;
}
#trombita-keto{
    width: 70%;
    margin: 5px;
    float: left;
}
.szoveg{
    clear: both;
}
.ketkep-harom{
    clear: both;
}
#trombita-harom{
    width: 100%;
}   
#logo-harom{
    width: 100px;
    vertical-align: middle;
    margin-left: 67px;
}
.tromb-keret-harom{
    width: 70%;
    float: left;
}
.logo-keret-harom{
    width: 30%;
    float: left;
    text-align: center;
    line-height: 337px;
}
.ketkep-negy{
    clear: both;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#trombita-negy{
    width: 70%;
}
#logo-negy{
    width: 100px;
    margin-right: 22px;
}