.test{
    width: 33%;
    float: left;
    box-sizing: border-box;
}
#oszlopok{
    column-count: 3;
    column-rule: 3px solid black;
    column-gap: 20px;
    background-color: red;
    border: 2px solid black;
}
img{
    position: relative;
    left: 33px;
    width: 85%;
    max-height: 300px;
}
p{
    position: relative;
    left: 15px;
    column-count: 2;
    column-gap: 10px;
    margin: 20px;
}
body{
    background-color: orange;
}
h1{
    background-color: blue;
    padding: 20px;
    border:3px dashed black;
    text-align: center;

}