.video-tarolo{
    background-color: white;
    width: 100%;
    text-align: center;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
}
body{
    background-color: #cccccc;
}
.cim{
    background-color: white;
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-style: oblique;
    font-size: 150%;
}
.felvetelek{
    max-width: 360px;
    width: 100%;
    height: 203px;
}
.felso-kontainer{
    background-color: white; 
    margin-bottom: 10px;
    overflow: auto;
}
.logo{
    width: 70px;
    height: 70px;
    margin-left: 10px;
}
#nev{
    font-style: oblique;
    font-size: 150%;
    margin-top: 20px;
    display: inline;
}
.felso-tarolo{
    background-color: white;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.menu{
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
    color: black;
}
.menu-active{
    color: orange;
}
.menu:hover{
    color: #666666;
}
button{
    background-color: #E85F4F;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
}
button:hover{
    background-color: #666666;
}


.test{
    clear: both;
}
.menu-tarolo, .logotarolo, .bejelentkezestarolo{
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 600px){
    .menu-tarolo{
        width: 75%;
        float: left;
        height: 70px;
    }
    .bejelentkezestarolo{
        width: 25%;
        float: left;
        height: 70px;
        text-align: right;
    }
}
@media screen and (min-width: 1170px){
    .menu-tarolo, .logotarolo, .bejelentkezestarolo{
        width: 33%;
        float: left;
        line-height: 70px;
        text-align: left;
    }
    .felso-kontainer{
        height: 70px;
        overflow: hidden;
    }
    .logo, #nev{
        float: left;
    }
    .bejelentkezestarolo{
        text-align: right;
    }
    .felso-tarolo{
        justify-content: center;
    }
}