.fejlec{
    width: 100%;
    overflow: auto;
}
.fejlec-sor{
    width: 50%;
    float: left;
}
.fejlec-szoveg{
    width: 48%;
    float: left;
    text-align: center;
    background-color: #ff3333;
    border: 2px solid black;
    margin: 0 1%;
    box-sizing: border-box;
}
.fejlec-szoveg{
    display: inline;
}
.tartalom, .oldalsav{
    width: 50%;
    float: left;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.video{
    width: 400px;
    max-width: 100%;
    height: 250px;
}
.kep{
    max-width: 100%;
    height: auto;
}
@media screen and (max-width: 800px){
    .fejlec-szoveg{
        width: 98%;
    }
    .tartalom, .oldalsav{
        width: 100%;
        float: none;
    }

}