.tartalom, .oldalsav{
    width: 50%;
    float: left;
}
#szoveg, #jobb-szoveg, #szoveg-k{
    background-color: #ff3333;
    border: 2px solid black;
    margin: 20px;
    text-align: center;
}
#szoveg, #szoveg-k, #jobb-szoveg{
    display: inline;
}
.video{
    max-width: 200%;
    height: auto;
    position: relative;
    top: 50px;
    left: 180px;
}
.kep{
    position: relative;
    left: 180px;
    top: 50px;
    max-width: 100%;
    height: auto;
}
@media screen and (max-width: 1296px){
    .kep{
        position: relative;
        left: 0;
    }
    #szoveg-k, #szoveg, #jobb-szoveg{
        float: left;
        margin: 5px;
    }
    .video{
        position: relative;
        left: 0;
        float: left;
    }
}