.hatvan{
    width: 60%;
    float: left;
}
.negyven{
    width: 30%;
    float: left;
    background-color: white;
    margin-top: 10px;
}
.tiz{
    width: 5%;
}
.fejlec{
    display: flex;
    height: 55px;
    background-color: white;
}
body{
    background-color: #E5E8EA;
}
.youtube{
    width: 60px;
    height: auto;
    position: absolute;
    left: 50px;
    top: 15px;
}
form{
    position: absolute;
    left: 1200px;
    top: 22px;
}
.button{
    background-color: #126db3;
    position: absolute;
    left: 1300px;
    top: 22px;
    border: none;
    padding: 5px;
    color: white;
    border-radius: 2px;
}
.button:hover{
    background-color: #15629E;
    cursor: pointer;
}
#feliratkozas{
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 3px 0 0 3px;
    position: relative;
    left: 75px;
    top: -50px;
    display: flex;
    align-items: center;
}
#feliratkozas:hover{
    background-color: #cc0000;
    cursor: pointer;
}

#play{
    width: 15px;
    height: 15px;
    border-radius: 2px;
    margin-right: 8px;
}
.kep-szoveg, .kep-szoveg-vonalalatt{
    float: left;
    color: #333333;
}
.kep-szoveg:hover, .kep-szoveg-vonalalatt:hover{
    color: #3366ff;
}
.kep-szoveg:active, .kep-szoveg-vonalalatt:active{
    color: #ff0033;
}
.kep-szoveg:visited, .kep-szoveg-vonalalatt:visited{
    color: yellow;
}
.kep-szoveg-vonalalatt-utazok:hover{
    color: #3366ff;
}
.kep-szoveg-vonalalatt-utazok:active{
    color: #FF0033;
}

.kep-szoveg-vonalalatt{
    float: left;
    margin-top: 10px;
    
}
.kep-szoveg-vonalalatt-utazok{
    float: right;
    position: relative;
    top: 10px;
    right: 34px;
    color: #333333;
}
.kep-szoveg-doboz a{
    display: block;
    overflow: auto;
    margin-bottom: 10px;
}
.kep-szoveg-doboz a:hover{
    background-color: #e7e7e7;
}

.kep-szoveg-doboz hr{
    clear: both;
}
#kovetkezo{
    padding: 10px 10px 10px 20px;
}
.film-kepek{
    width: 220px;
    height: auto;
    margin-left: 20px;
    float: left;
    margin-right: 10px;
}
.film-kepek-vonalalatt{
    float: left;
    width: 220px;
    height: auto;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 10px;
}
.film-kepek-vonalalatt-utazok{
    width: 220px;
    height: 140px;
    margin-left: 20px;
    margin-top: 10px;
}
.magassag{
    height: 133px;
}
.magassag-k{
    margin-top: 15px;
    height: 133px;
}
#interstelar{
    width: 780px;
    height: 410px;;
    margin-left: 50px;
    margin-top: 10px;
}
#interstelar-alattidoboz{
    width: 780px;
    height: 150px;;
    margin-left: 50px;
    margin-top: 10px;
    background-color: white;
}
.interstelar-alattidoboz-ketto{
    width: 780px;
    height: 200px;
    margin-left: 50px;
    margin-top: 10px;
    background-color: white;
}
#interstelar-szoveg{
    padding: 10px;
    margin: 5px;
    font-size: 130%;
    font-weight: normal;
}
#interstelar-logo{
    width: 50px;
    height: 50px;
    position: relative;
    left: 15px;
}
#felhasznalo-logo{
    position: relative;
    left: 75px;
    top: -55px;
}

.star-szoveg{
    float: left;
}
.kepek-szoveg-tarolo{
    background-color: white;
    width: 470px;
}



#interstelar-alattidoboz hr{
    position: relative;
    top: -45px;

}